<div class="intro_box">
  <h1 align='center'>Umagram</h1>
  <h3 align='center'>Sign In</h3>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Username <input type="text" name="user[username]" value="<%= @user.username %>"><br>
    Password <input type="password" name="user[password]"><br>
    <div align="center"><input type="submit" name="" value="Sign In" class="button"></div>
  </form>
  <br>OR <br><a href="<%= new_user_url %>" style="background-color:#3498db">Sign Up</a></h3>
</div>

<%= video_tag "NY.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
