<div class="header">
  <img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.firstname %>" class="header-image">
  <img src="<%=  image_url('umagra_logo.png') %>" alt="UmaGram" class="logo"><div class="name"><%= @current_user.firstname %> <i><br> <%= @current_user.username  %></i></div>
  <input type="text" name="search" placeholder="Search" class="search_box">
</div>

<div class="body">
<% @posts.each do |post| %>
  <% @users.each do |user| %>
    <% if post.user_id == user.id %>
    <div class="post_user"><img src="<%= user.avatar_url %>" alt="<%= user.firstname %>" class="post_user_photo"><div class="post_user_name"><%= user.firstname-%></div></div>
    <% end %>
  <% end %>
  <div align="center"><%= image_tag post.image_url, :size => "505x600"%></div>
  <%= post.caption %>
  <%= button_to "-", post_url(post), method: :delete %>

  <% @comments.each do |comment| %>
    <% if comment.post_id == post.id %>
    <%= comment.body %><%= button_to "-", comment_url(comment), method: :delete -%>
    <% end %>
  <% end %>

  <form action="<%= comments_url %>" method="post">
    <h4 align=center><input type="text" name="comment[body]" placeholder="Add an comment">
    <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" class="addButton" value="+">
  </h4>
  </form>
  <hr>
<% end %>

<br>
<h4 align=center><a href="<%= new_post_url %>">Create a new Post</a></h4>

</div>
