<!-- header -->
<div class="header">
  <!-- Create link to create a new post -->
  <img src="<%= @current_user.avatar_url %>" class="header_image">
  <a href="<%= new_post_url %>"><label class="header_image", align="center", style="bottom:0; height:auto; background-color:black; color:white;">New Post</a></label>
  <img src="<%=  image_url('umagra_logo.png') %>" alt="UmaGram" class="logo">
  <div class="header_name"> <%= link_to @current_user.firstname, controller: "users", action: "show", id: @current_user.id %><br> <i><%= @current_user.username  %></i></div>
  <%= form_tag(users_url, :method => "get", class: "search_box") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search For Friends", class: "search_box_text" %>
  <% end %>

  <div><br>
    <ul style="list-style: none;"><br>
      <li><%= button_to "Log Out", session_url, :method => :delete, :class => "mini-btn"%></li>
    </ul>
  </div>
</div>

<!-- Body -->
<div class="body">
<% @posts.each do |post| %>
  <% @users.each do |user| %>
    <% if post.user_id == user.id %>
    <div class="post_user"><img src="<%= user.avatar_url %>" alt="<%= user.firstname %>" class="post_user_photo"><div class="post_user_name"><%= link_to user.firstname, controller: "users", action: "show", id: user.id %>
      <br><i style="font-size:0.75em;"><%= post.created_at.strftime("%b %d") %>
      <%= post.created_at.strftime("%H:%M") %></i>
    </div></div>
    <% end %>
  <% end %>

<!-- Show Image -->
  <div align="center"><%= image_tag post.image_url, :size => "540x650"%></div>
  <% if post.user_id == @current_user.id %>
    <%= button_to "Delete", post_url(post), method: :delete, style: "width: 45px; border:1px dashed; float: right; background: white; margin-right: 1px;" %>
  <% end %>
<!-- Image Bottom portion -->

<div class="image_bottom">
  <%= post.caption %>  <i style="float:right, margin: 0 auto;"><br><%= post.likes.nil? ? 0 : post.likes %> likes</i><br>
  <form action="<%= post_url(post) %>" method="post" name="id" id="like_button">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="like">
  </form>

<!-- Show Comments -->



<!-- AJAX WAY OF FORM -->
  <!-- <div class="commentsection">
    <ul id="comment-list">
      <% @comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
      <% end %>
    </ul>

    <form action="/comments" method="post">
      <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>" />
      <input type="text" name="comment[body]" id="" value=""/>
      <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
      <input type="hidden" name="comment[user_id]" value="<%= @current_user.id %>">
      <input type="submit" name="" id="" value="Add Comment" />
    </form>

  </div> -->




  <% @comments.each do |comment| %>
    <% if comment.post_id == post.id %>
    <% @users.each do |user| %>
      <% if comment.user_id == user.id %>
        <% if comment.user_id == @current_user.id%>
          <%= button_to "-", post_url(post), method: :delete, style: "width: auto; border:1px dashed; float: left; background: white; margin-right: 1px;" %>
        <% end %>
      <div class="post_user_name" style="display:inline"><%= user.firstname-%> - </div> <%= comment.body %> (
      <i style="font-size:0.75em;"><%= comment.created_at.strftime("%b %d") %>
      <%= comment.created_at.strftime("%H:%M") %></i>)<br><br>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
</div>
<!-- Get a new comment -->
  <form action="<%= comments_url %>" method="post" id="comment_form">
  <form id="comment_form">
    <input type="text" name="comment[body]" placeholder="Add an comment" class="create_comment" >
    <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
    <input type="hidden" name="comment[user_id]" value="<%= @current_user.id %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" style="position: absolute; left: -9999px"/>
  </form>

  <!-- Add Breaker after every post -->
  <hr>
<% end %>
</div>
