<!-- header -->
<div class="header">
  <img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.firstname %>" class="header_image">
  <img src="<%=  image_url('umagra_logo.png') %>" alt="UmaGram" class="logo">
  <div class="name"> <%= link_to @current_user.firstname, controller: "users", action: "show", id: @current_user.id %><br> <%= @current_user.username  %></i></div>
  <input type="text" name="search" placeholder="Search" class="search_box">
</div>

<!-- Body -->
<div class="body">
<% @posts.each do |post| %>
  <% @users.each do |user| %>
    <% if post.user_id == user.id %>
    <div class="post_user"><img src="<%= user.avatar_url %>" alt="<%= user.firstname %>" class="post_user_photo"><div class="post_user_name"><%= user.firstname-%></div></div>
    <% end %>
  <% end %>

<!-- Show Image -->
  <div align="center"><%= image_tag post.image_url, :size => "640x700"%></div>
  <% if post.user_id == @current_user.id %>
    <%= button_to "-", post_url(post), method: :delete %>
  <% end %>
<!-- Image Bottom portion -->

<div class="image_bottom">
  <%= post.caption %><br>
  <%= post.likes.nil? ? 0 : post.likes %> <i>likes</i><br>

<!-- Show Comments -->
  <% @comments.each do |comment| %>
    <% if comment.post_id == post.id %>
    <% @users.each do |user| %>
      <% if comment.user_id == user.id %>
      <div class="post_user_name" style="display:inline"><%= user.firstname-%> - </div> <%= comment.body %><br>
      <% end %>
    <% end %>
      <% if comment.user_id == @current_user.id%>
        <%= button_to "-", comment_url(comment), method: :delete -%>
      <% end %>
    <% end %>
  <% end %>
</div>
<!-- Get a new comment -->
  <form action="<%= comments_url %>" method="post">
    <input type="text" name="comment[body]" placeholder="Add an comment" class="create_comment">
    <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
    <input type="hidden" name="comment[user_id]" value="<%= @current_user.id %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" style="position: absolute; left: -9999px"/>
  </form>

  <!-- Add Breaker after every post -->
  <hr>
<% end %>
<br>
<!-- Create link to create a new post -->
<h4 align=center><a href="<%= new_post_url %>">Create a new Post</a></h4>
</div>
